<ion-view hide-nav-bar="true" title="Achievements">

  <ion-content>
    
<div class="bar bar-header">
<div id="user-image"><a href="/#/aphethean" id="dropdown-summary-user">
    
<div class="avatar2 avatar-sidebar">
    
<div class="user-icon ">
    <div class="profile-picture" style="background-image: url(img/ProfilePhoto.jpg)"></div>
</div>
    <div class="flag2">
    <span class="score">143</span>
</div>
</div>

</a></div>

  <div class="h1 title">Achievements</div>
  <button class="button button-icon icon ion-navicon" style="display:inline-block; vertical-align:middle"></button>
</div>

<div style="top: 90px; height: 10px; width: 100%; background-color: black;"></div>

<div class="list" style="top: 95px">

	<a class="item item-avatar" href="#">
      <img src="img/ProfilePhoto.jpg">
      <h2>Mortgage</h2>
      <p></p>
    </a>

	<a class="item item-avatar" href="#">
      <img src="img/ProfilePhoto.jpg">
      <h2>Bought Equities</h2>
      <p></p>
    </a>

</div>	



  </ion-content>
<ion-footer-bar align-title="left">
	<div class="tabs tabs-icon-top">
	  <a class="tab-item" ng-click="feed()">
		<i class="icon ion-person-stalker"></i>
		Activity
	  </a>
	  <a class="tab-item" ng-click="achievements()">
		<i class="icon ion-trophy"></i>
		Achievements
	  </a>
	  <a class="tab-item" ng-click="opportunities()">
		<i class="icon ion-cash"></i>
		Opportunities
	  </a>
	  <a class="tab-item" ng-click="portfolio()">
		<i class="icon ion-home"></i>
		Portfolio
	  </a>
	</div>

</ion-footer-bar>
</ion-view>
