<ion-view hide-nav-bar="true" title="Feed">

  <ion-content>
    
<div class="bar bar-header">
<div id="user-image"><a href="/#/aphethean" id="dropdown-summary-user">
    
<div class="avatar2 avatar-sidebar">
    
<div class="user-icon ">
    <div class="profile-picture" style="background-image: url(img/ProfilePhoto.jpg)"></div>
</div>
    <div class="flag2">
    <span class="score">143</span>
</div>
</div>

</a></div>

  <div class="h1 title">Activity</div>
  <button class="button button-icon icon ion-navicon" style="display:inline-block; vertical-align:middle"></button>
</div>

<div style="top: 90px; height: 10px; width: 100%; background-color: black;"></div>

<div class="list" style="top: 95px">

    <a class="item item-avatar" href="#">
      <img src="img/The-Wolf-of-Wall-Street.jpg">
      <h2>The Wolf has sold KnowDeal</h2>
      <p>"Make every deal like it might be your last."</p>
    </a>

	<a class="item item-avatar" href="#">
      <img src="img/avatar5.png">
      <h2>Tommy Trader has bought GBP:USD</h2>
      <p>"Anticipating rate shift after BOE meeting"</p>
    </a>

	<a class="item item-avatar" href="#">
      <img src="img/avatar4.png">
      <h2>Bullish Bob has bought Dow Jones Index tracker</h2>
      <p>"Expecting unemployment figures to push these stocks higher"</p>
    </a>

	<a class="item item-avatar" href="#">
      <img src="img/avatar3.png">
      <h2>Cautious Chris is worried about deflation in the Eurozone</h2>
      <p>Agree: "Spain is recovering and debt levels are rising..."</p>
    </a>

	<a class="item item-avatar" href="#">
      <img src="img/avatar3.png">
      <h2>Cautious Chris has sold GOOG</h2>
      <p>"Looking overvalued"</p>
    </a>

	<a class="item item-avatar" href="#">
      <img src="img/ProfilePhoto.jpg">
      <h2>Aaron Phethean searched for Overseas Equities</h2>
      <p>"I like the look of the far east, but bit unsure."</p>
    </a>

	<a class="item item-avatar" href="#">
      <img src="img/ProfilePhoto.jpg">
      <h2>Aaron Phethean joined KnowDeal</h2>
      <p></p>
    </a>

	
</div>	



  </ion-content>
<ion-footer-bar align-title="left">
	<div class="tabs tabs-icon-top">
	  <a class="tab-item" ng-click="feed()">
		<i class="icon ion-person-stalker"></i>
		Activity
	  </a>
	  <a class="tab-item" ng-click="achievements()">
		<i class="icon ion-trophy"></i>
		Achievements
	  </a>
	  <a class="tab-item" ng-click="opportunities()">
		<i class="icon ion-cash"></i>
		Opportunities
	  </a>
	  <a class="tab-item" ng-click="portfolio()">
		<i class="icon ion-home"></i>
		Portfolio
	  </a>
	</div>

</ion-footer-bar>
</ion-view>
